html , button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
body{
    background-color: #969393;
    height:700px;
}
h1 h2 h3{
    font-family: 'Sniglet', cursive;
}
.error_input{
    border: 3px solid #ED4C67;
}
.header_principal{
    background-color:#1e9b44; 
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:right; 
    margin-bottom: 30px;
    height: 80px;
}
.header_principal nav{
    margin-right:30px;
}
.header_principal nav a{
    color: #ecf0f1;
    text-decoration:none;
    margin-bottom:20px;
    margin:0 20px 0 10px;
    font-size:14px;
    font-weight: bolder;
}
 button{
    background-color: none;
    color: #ecf0f1;
    border: 2px solid #ecf0f1;
    background-color:#1e9b44;
    font-size: 12;
}
.header_principal img{
    width: 80px;
    height: 80px;
    margin-right: 300px;
}
footer{
    position: absolute;

  
    background-color:#1d9e2f; 
  margin-top: 400px;
    width: 100%;
    text-align: center;
}
#columna_1 , #columna_2 , #columna_3{
    float: left;
    margin: 0 30px;
    padding-bottom:10px;
}

#columna_1 div, #columna_2 div, #columna_3 div{
margin-bottom: 20px;
}
#columna_1 a, #columna_2 a, #columna_3 a{
    font-size: 12px;
    color: #ecf0f1;
    text-decoration:none;
}
#logo_empresa{
    width:100px;
    height: 100px;   
}
#menu_secundario{
 width: 900px;
 text-align:center;
 display: block;
 margin:0 auto;
}
footer h2{
margin-bottom: 20px;
padding-top:20px;
text-align: center;
font-weight: bold;
color: #ecf0f1;
}
button:hover{
background-color: #A59c20;
color:#FFFFFF;
font-weight: bolder;
text-shadow: 2px 2px 4px #000000

}
a:hover{
    color:#969393;
    font-weight: bolder;
    text-shadow: 3px 3px 6px #000000
}


.formularios_general{
    margin-top: 80PX;
height: 300px;
width:350px;

background-color:  #38a348;
margin-left:450px;
text-align: center;
}

.form-control{

    margin-top: 20px;
}





#niv_form{
    display: flow-root;

   
    background-color: #ffffff;
  height:280px ;

}

.text-center{


    margin-top:40px;
}


#LOGIN_TEXT{

    height:40PX;
    text-align: center; 
    background-color: #38a348;
}
h1{
    padding-top: 12px;
    text-align: center;
}

#form-control{
    background-color: #e9eff1;
}

#reg{

    padding-top: 15px;
}



.link_sesion{

margin-top: 30px;

}

#passw{

margin-left: 25px;

}


#boton-login {
 
    margin-top:15px;
}

#boton-login button {
 
    background-color: #1e9b44;
    width: 75PX;
    border-radius: 5px;

}

.reg_nive{
    margin-top: 80PX;
    height: 400px;
    width:450px;
    
    background-color:  #38a348;
    margin-left:450px;
    text-align: center;

}


.niveles{


margin-top: 17px;
}





#tabla_info{
    
      margin-top: 30px;
      background-color: #f7f9f6;
    margin-left: 30px;

}

#tabla_info thead tr{
    background:#74d150;
    color:#fff;
    }

    #tabla_info tbody tr:hover{
        background:  rgb(201, 172, 109)
        
        }

      


    #tabla_info tbody tr {
        border-bottom: 2px solid #71acde;
        
         }

         #tabla_info tbody th, td {
            border: 2px solid red;
             
             }
         


         #tabla_info tr th, #tabla_info tr td{

            padding: 10px 55px;
        }
        

#sep{

    height: 50px;
}
      

#login-form{

    background-color: #f7f7f7;
}
  
#txt_email {

background-color: rgb(241, 225, 225);
}
#txt_pass{

    background-color:rgb(241, 225, 225);

}

#imgmpm{
    margin-left: 20px;
   float: left;
     width: 100px;
     height:80px;
     
 }